* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}

body {
	color: #111;
	font-size: 18px;
}

.container {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	box-sizing: border-box;
}

.container.column {
	flex-direction: column;
}


/* Header */
header {
	position: relative;
	background-color: #fff;
	position: sticky;
	top: 0;
	z-index: 1000;
	width: 100%;
	padding: 1rem 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

header .logo {
	display: flex;
	align-items: center;
}

header .logo img {
	width: 150px;
	height: auto;
}

header nav {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

header nav.nav-open {
	display: flex;
}

header nav ul {
	list-style: none;
	display: flex;
	gap: 20px;
}

header nav ul li a {
	color: #111;
	text-decoration: none;
	padding: 5px 10px;
	transition: color 0.3s;
}

header .nav-toggle {
	display: none;
	padding: .5rem 1rem;
	border: 0;
	background: none;
	cursor: pointer;
}

header .nav-toggle span {
	display: block;
	width: 22px;
	height: 2px;
	margin: 4px;
	border-radius: 1px;
	background-color: #333;
}

/* Sections */
section {
	margin: 6rem 0;
}

/* About section */
#about {
    margin: 4rem 0;
}

/* Skills section */
.skill {
	text-align: center;;
}

.skill img {
	max-width: 120px;
}

#skills h2 {
	margin-bottom: 3rem;
}

/* Contact section */
#contact {
	margin-bottom: 10rem;
}

#contact h2 {
	margin-bottom: 2.2rem;
}

.contact {
	max-width: 80%;
}

.contact img {
	display: inline-block;
	max-width: 80px;
	margin-bottom: 1rem;
	filter: grayscale() contrast(10);
}

.contact a {
	display: block;
	color: #111;
	text-align: center;
	text-decoration: underline;
	margin-top: .8rem;
}

.contact span {
	display: block;
}

/* Images */
.picture {
	width: 100%;
    text-align: center;
}

.picture img {
	border-radius: 50%;
	width: 100%;
	max-width: 400px;
}

/* Responsive Styles */
.grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	gap: 20px;
	align-items: center;
}

@media (max-width: 768px) {

	.grid {
		grid-template-columns: 1fr;
	}

	.grid.small {
		grid-template-columns: 1fr 1fr;
	}

	.contact {
		max-width: 100%;
	}

	header .nav-toggle {
		display: block;
	}

	header nav {
		display: none;
		position: absolute;
		width: 100%;
		left: 0;
		top: 50px;
		width: 100%;
		background: white;
	}

	header nav ul {
        width: 100%;
        flex-direction: column;
        gap: 10px;
        padding: 1.5rem;

	}

	header nav ul li {
		padding-bottom: 1.6rem;
	}

	header .logo img {
		width: 120px;
	}
}

/* Notification with gradient */
.notification {
	display: flex;
	flex-direction: column;
	isolation: isolate;
	position: relative;
	width: 100%;
    padding: 1.5rem 1rem;
	border-radius: 1rem;
	overflow: hidden;
	--gradient: linear-gradient(to bottom, #cccccc, #747474, #000000);
	--color: #32a6ff;
    box-sizing: border-box;
}

.notification h2 {
	color: black;
	font-size: 1.5rem;
}

.notification:after {
	position: absolute;
	content: "";
	width: 0.25rem;
	inset: 0.65rem auto 0.65rem 0.5rem;
	border-radius: 0.125rem;
	background: var(--gradient);
	transition: transform 300ms ease;
	z-index: 4;

}

.notification:hover:after {
	transform: translateX(0.15rem)
}

.notification:hover .notititle {
	transform: translateX(0.15rem)
}

.notibody {
	color: #555;
	padding: 0 2rem;
	transition: transform 300ms ease;
	z-index: 5;
}

.notibody p {
	margin-top: 1rem;
}

.notification:hover .notibody {
	transform: translateX(0.25rem)
}
